[
 {rabbitmq_shovel, [
   {shovels, [
     {course_static, [
       {source, [{protocol, amqp091},
                 {uris, ["amqp://admin:admin-pass@rabbit1:5672/%2Fcourse"]},
                 {queue, <<"link.out">>}, {prefetch_count, 100},
                 {declarations, [{'queue.declare', [{queue, <<"link.out">>},
                                                     {passive, true}]}]}]},
       {destination, [{protocol, amqp091},
                      {uris, ["amqp://admin:admin-pass@remote:5672/%2Fcourse"]},
                      {declarations, [{'exchange.declare', [{exchange, <<"link.in">>},
                                                            {passive, true}]}]},
                      {publish_fields, [{exchange, <<"link.in">>},
                                        {routing_key, <<"demo">>}]}]},
       {ack_mode, on_confirm},
       {reconnect_delay, 5}
     ]}
   ]}
 ]}
].
