global
  log stdout format raw local0
  maxconn 2048
defaults
  log global
  timeout connect 5s
  timeout client 3m
  timeout server 3m
frontend amqp
  mode tcp
  bind *:5672
  default_backend amqp_nodes
backend amqp_nodes
  mode tcp
  balance roundrobin
  option tcp-check
  server rabbit1 rabbit1:5672 check inter 2s fall 3 rise 2
  server rabbit2 rabbit2:5672 check inter 2s fall 3 rise 2
  server rabbit3 rabbit3:5672 check inter 2s fall 3 rise 2
frontend management
  mode http
  bind *:15672
  default_backend management_nodes
backend management_nodes
  mode http
  balance roundrobin
  server rabbit1 rabbit1:15672 check
  server rabbit2 rabbit2:15672 check
  server rabbit3 rabbit3:15672 check
listen stats
  mode http
  bind *:8404
  stats enable
  stats uri /stats
